/**
 * Main Layout.
 */
html, body {
	height: 100%;
  	font-family : Roboto, Arial, sans-serif;
	background-color : rgb(229, 227, 223);
}

.container-fluid, .main, #map-canvas, #sidebar {
 	height : 100%;
}

.cog {
	position : absolute !important;
	font-size : 200px;
}

.loader {
	font-size : 20px;
}

#sidebar {
 	background-color: darkslategrey;
 	color : #FFF;
 	overflow : auto;
	border-left : 15px solid #f0ad4e;
	box-shadow : 0px 0px 5px #000;
}

#map {
	padding : 0px;
	background-color : transparent !important;
}

#map .fa-4x {
	text-shadow : 3px 0px 5px #000;
}

.iconLabel {
	font-weight: bold;
    	font-size: 11px;
	white-space : nowrap;
}

#sidebar-inner {
  	padding: 10px;
}

.sideComponent {
	margin-bottom : 10px;
	padding : 5px 0px;
}

#dz {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #FFF;
	text-align: center;
	background-color : transparent;
	min-height : 100px;
}
#validateTask {
}

#validation {
	box-shadow: 0px 0px 5px #000;
	clear : both;
	margin-top : 20px;	
}

#buildRace {
	margin-top : 20px;
}

#validateTask .status {
	font-weight : bold;
	text-transform : uppercase;
}

#player {
	position : absolute;
	z-index : 1000;
	bottom : 0;
	/*background-color : #343A40;*/
	background :rgba(0, 0, 0, 0.8);
	border-top : 1px solid #000;
	box-shadow : 0px 0px 10px #000;
	width : 100%;
	color :#FFF; 
	padding : 5px 15px;
}

#player #controls i.fa {
	cursor : pointer;
}

#player #controls i.fa:hover {
    color: #f0ad4e;
}

#player #controls {
	padding : 0px 15px 5px 15px;
	font-size :25px;
	user-select: none;
	line-height : normal;
}

#player #contains {
	display: inline-block;
	width : 100%;
}

#player .fa-clock-o {
}

#player #currentTime {
	font-size : 20px;
	color: #FFF;
    	margin: 0px 0px 0px 10px;
    	user-select: none;
	font-weight : bold;
}

#player #close {
	position : absolute;
	right : 5px;
	font-size: 15px;
}

#player #speed {
	margin-top : -1px;
}

#speedValue {
	font-size: 20px;
}

#speedControl {
	padding : 0px 20px 0px 20px;
	margin : 0px 20px 0px 20px;
	display : flex;
	border-right : 3px solid #FFF;
	border-left : 3px solid #FFF;
}

.speedSlider {
 	-webkit-appearance: none;
  	width: 100%;
  	height: 10px;
 	border-radius: 5px;  
  	background: #FFF;
  	outline: none;
  	margin: 7px 10px;
}

.speedSlider::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;
  	width: 20px;
  	height: 20px;
  	border-radius: 50%; 
  	background: #f0ad4e;
  	cursor: pointer;
}

.speedSlider::-moz-range-thumb {
 	width: 20px;
  	height: 20px;
  	border-radius: 50%;
  	background: #f0ad4e;
  	cursor: pointer;
}

#innerTime {
	width: 100%;
	user-select: none; 
}

.replaySlider {
	-webkit-appearance: none;  /* Override default CSS styles */
  	appearance: none;
  	width: 100%;
  	height: 10px;
  	background-color : darkslategrey;
  	border: 1px solid #000;
	outline: none;
}

.replaySlider::-webkit-slider-thumb {
 	-webkit-appearance: none; /* Override default look */
  	appearance: none;
	box-shadow: 0px 0px 5px #000;
  	width: 12px; /* Set a specific slider handle width */
  	height: 20px; /* Slider handle height */
  	background: #f0ad4e; /* Green background */
  	cursor: pointer; /* Cursor on hover */
}

.replaySlider::-moz-range-thumb {
	box-shadow: 0px 0px 5px #000;
  	width: 12px; /* Set a specific slider handle width */
  	height: 20px; /* Slider handle height */
  	background: #f0ad4e; /* Green background */
  	cursor: pointer; /* Cursor on hover */
}

.pilot {
	padding : 2px 5px;
	text-overflow: ellipsis;
    	white-space: nowrap;
	width : 100px;
	overflow : hidden;
}

.pilot:hover {
	background-color : #F0AD4E;
	cursor : pointer;
}

#timeMark { 
	height : 30px;
}

.timeMark {
	position : absolute;
	color : #f0ad4e
}

#timeMark-open, #timeMark-start {
}

#timeMark-end {
	margin-left : -60px;
}

/*#autoImporter {
	background : repeating-linear-gradient(
  		45deg,
  		#575F4E,
  		#575F4E 10px,
  		#879279 10px,
  		#879279 20px
	);
}*/

#autoImporter h5 {
	text-align : center;
	border :1px solid #FFF;
	padding : 15px;
}

#autoImporter h5:hover {
	cursor : pointer;
}

#autoImporter h5 .fa-expand {
	font-size : 12px;
	float :right;
}

#autoImporter h5 .fa-expand:hover {
	cursor: pointer;
	font-size : 14px;
}

#autoImporter .form-group {
}

.stage {
	float: right;
	line-height: 3;
	font-weight: bold;
	font-size: 10px;
}

#toggleWaypoint {
	text-align : center;
	border : 1px solid #FFF;
}

#toggleWaypoint h5 {
	padding-top : 10px;
}

.modal select.form-control {
	width : 50% !important;
}

#waypointFiles li {
	list-style-type : none;
}

#waypointFiles ul {
  	background: repeating-linear-gradient(45deg, #343A40, #343A40 20px, darkslategrey 20px, darkslategrey 40px);
	border: 1px solid #FFF;
	padding: 10px;
}

#waypointFiles li a {
	color : #FFF;
}

#taskboard {
	clear: both;
        margin: 40px 0px 10px 0px;
	min-height: 100px;
	border: 1px solid #FFF;
	border-radius: 2px;
	background-color: darkslategrey;
	background-image: linear-gradient(45deg, #343A40 25%, transparent 25%, transparent 75%, #343A40 75%), linear-gradient(45deg, #343A40 25%, transparent 25%, transparent 75%, #343A40 75%);
	background-size: 20px 20px;
	background-position: 0 0, 50px 50px;
}

#taskboard .message {
	padding : 10px;
	text-align : center;
}

.sideComponent:last-child {	
	padding-bottom : 50px;
}


#taskboard-header {
	padding-top : 10px;
	color: #FFF;
	text-shadow: 0px 0px 10px #000;
	text-align: center;
	margin-bottom: 10px;
}

#taskboard .label {
	text-transform: uppercase;
	margin-right: 10px;
}

#taskboard .taskboard-item {
	clear: both;
	margin-bottom: 5px;
}

#taskboard-content li {
	cursor: pointer;
	list-style-image: none;
	list-style-type: none;
	text-shadow: 0px 0px 10px #000;
}

#turnpoint-content {
	padding : 10px 40px 0px 20px
}

.turnpointId {
	font-weight : bold;
}

#taskboard ul {
	padding-inline-start : 10px;
}

span.turnpointDistance {
	float: right;
    font-size: 0.7em;
    width: 100px;
    text-align: right;
}

#taskboard #task-distance {
    margin-top: 20px;
    text-align: right;
    font-size: 1.5em;
    text-shadow: 0px 0px 10px #000;
    font-style: italic;
    padding-right: 10px;
    font-weight: bold;
    clear: both;
}

/**
 * Fullboard
 */
#fullboard-content .row {
	padding : 10px;
}

#fullboard-content i {
	margin-right : 10px;
}

#fullboard-arrow, #fullboard-turn-word {
  text-align : center;
}

#fullboard-turnpoint ol {
  counter-reset: item;
  list-style-type: decimal;
}

#fullboard-turnpoint ol li:before {
  content: 'B' counter(item, decimal) ' ';
  counter-increment: item;
  font-weight : bold;
}

#fullboard-turnpoint ol li {
  padding : 10px 0px;
}

#fullboard-turnpoint ol li:not(:last-child) {
  border-bottom : 1px dashed #CCC;
}

#fullboard-turnpoint span:first-of-type {
  margin-left : 10px;
}

#fullBoardModal h5, #fullBoardModal label {
  text-transform : uppercase;
}

#fullBoardModal h5 {
  color : #ac2925;
}

#fullboard-content span.tp-id {
  cursor : pointer;
} 

#fullboard-times .label {
  margin-right : 5px;
}

#leftPanel, #rightPanel {
	padding : 20px;
	border : 1px solid #ccc;
}

/**
 * Waypoint Exporter
 */
#export-wp-format .form-control {
	display : inline-block;
}

/**
 * Progress
 */
#progress {
	position : absolute;
	top : 70px;
	left : 0px;
	z-index : 1001;
}

.loading {
	font-size: 30px;
}

#progressTitle:after {
 	overflow: hidden;
  	display: inline-block;
  	vertical-align: bottom;
  	-webkit-animation: ellipsis steps(4,end) 1500ms infinite;
  	animation: ellipsis steps(4,end) 1500ms infinite;
  	content: "\2026"; /* ascii code for the ellipsis character */
  	width: 0px;
}

@keyframes ellipsis {
  	to {
    		width: 1.25em;
  	}
}

@-webkit-keyframes ellipsis {
  	to {
    		width: 1.25em;
  	}
}

#progressType {
	font-weight: bold;
	text-transform : uppercase;
}

#stageIndex {
	float : right;
	font-size : 9px;
	font-weight : bold;
} 

/**
 * Xavier Murillo hommage.
 */
span#fullboard-xm {
 	font-size: 2px;
  	user-select : none;
}
