<template name="airspaces">
	<div id="airspaces">
		<div id="airspaces-content">
			<div id="presetAirspace">
				<h5>
					<i class="fa fa-lg fa-plane" aria-hidden="true"></i>
					Preset Airspace
				</h5>
				<div class="presetFiles">
					<ul>
						<li><input class="AirspaceFFVV" name="FFVV" type ="checkbox"> French OpenAir FFVV</li>
					</ul>
				</div>
                <div id="airspaceWarning">
				    <i class="fa fa-warning"></i>Un-official information.
                    <p>
                        <span class="small">Use Airspace data at your own risk.</span> <br>
                        <span class="small">Graphic display on map may be wrong.</span>
                    </p>
                </div>
            </div>
			{{#unless airspaces}}
				<div class="message"><h7>No custom airspaces defined yet. You can import a custom OpenAir or GeoJson file of your own or use a preset listed above.</h7></div>
			{{/unless}}
			{{#if airspaces}}
				<div class="filterAirspace row">
					<div id="airClass" class="col-6">
						<h6> Airspace Filter </h6>
							<ul>
							{{#each classes}}
								<li>{{this}} <input class="class{{this}}" name="{{this}}" type ="checkbox" checked="checked"></li>
							{{/each}}
							</ul>	
					</div>
					<div id="airFloor" class="col-6">
						<input type="range" min="0" max="6000" step="50" value="1000" id="altitudeSlide"/>
						<span id="altitudeLimit"> 1000 </span>m
					</div>
				</div>
                <div id="searchAirspace">
                    <label class="sr-only" for="inlineFormInputGroup">Search Airspace</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class='fa fa-search'></i></div>
                        </div>
                        <input type="text" class="form-control form-control-sm" id="inSearch" placeholder="Search Airspace">
                    </div>
                </div>
				<div class="listAirspace">
					<ul>
						{{#each validAirspaces}}
                            <li class="airspace" ref="{{_id}}" index="{{@index}}">
                                <span class="badge badge-default" style="background-color:{{classColor class}}">{{class}}</span>
                                <span class="name">{{name}}</span>
                            </li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
</template>
