<template name="taskBoard">
	<div id="taskboard">
		<div id="taskboard-header"><h5>Taskboard</h5></div>
		<div id="taskboard-content">
			{{#if noTurnpoints}}
			<div class="message"><h7>No task defined yet. You can create a task yourself from scratch. You can also import one either from your own files or by using any providers available under the race tab.</h7></div>
			{{/if}}
			<div>
				<ul id="toSort">
					{{#each turnpoints}}
					<li class="taskboard-item" rel="{{this._id}}">
						<span class="badge badge-default" style="background-color : {{ fillColor this.role }}"> {{ shortName this.role }}</span>
						<span class="turnpointId"> {{this.name}} </span>
						<span> - </span>
						<span class="turnpointName"> {{this.description}} </span>
						<span class="turnpointDistance">
							{{roundDistance this.previous}}
						</span>
					</li>
					{{/each }}
				</ul>
				{{#unless noTurnpoints}}
					<div id="task-distance">Total Distance : {{getTaskDistance}}</div>
					<div id="fullBoard"> 
						<i class="fa fa-lg fa-search"></i> FullBoard
					</div>
				{{/unless}}
			</div>
		</div>
	</div>
</template>
